@import './templateColor.scss';
@import './tamplateButtons.scss';
@import './tamplateInputs.scss';

.project_header{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    // padding-right: 10%;
    // gap: 20px;
    h4{
        flex: 35% 1;
        display: flex;
        justify-content: center;
        // max-width: 230px;
        padding: 60px 0 40px;
    }
}

.admin_project_item{
    justify-content: space-between;
    max-height: 150px;
    overflow: hidden;
    // padding: 0 80px;
    flex-direction: row; 
    display: flex;
    align-items: center;

    p{
        flex: 0 1 35%;
        display: flex;
        justify-content: center;
        // max-height: 130px;
        overflow: hidden;
    }
    a{
        display: flex;
    }
}

.react-tooltip {
    font-size: 14px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.admin_project_item_svg{
    display: flex;
    justify-content: space-evenly;
    flex: 0 1 35%;
    align-items: center;
    img{
        max-width: 50px;
        max-height: 50px;
    }
    .history_icon{
        max-width: 55px;
        max-height: 55px;
      }
}


// modal Verified //

.modal_wrap{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(27, 27, 27, 0.70);
}

.item_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background: #FFF;
    width: 80%;
    min-width: 921px;
    min-height: 442px;
    h4{
        text-align: center;
        padding: 0 5%;
    }
}



.button_wrap{
    display: flex;
    gap: 5%;
}

//modal user

.modal_wraper_donat{
    width: 100%;
}

.user_wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000003a;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.wrap_user-content{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 80%;
    gap: 50px;
    overflow-y: scroll;
    margin: 100px;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.6);
    background: rgb(27 27 27 / 21%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1000;
  }

  .modal {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: 600px;
    max-height: 90%;
    overflow-y: auto;
        title{
            color: #fff;
        }
  }

  .user_modal_image_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .user_modal_image_wrap {
    width: 400px;
    height: 400px;
    margin: 5px 0px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }

  .block_user_btn{
    svg, img{
        width: 50px;
        height: 50px;
        fill: red;
    }
  }

