@import './templateColor.scss';
@import './tamplateButtons.scss';


.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 189px;
    gap: 34px;
    background: rgba(14, 14, 14, 0.77);
    padding: 34px 5% 30px;
}

.logo_footer{

    width: 100%;
    img{
      max-width: 170px;
      width: 100%;
      height: 100%;
    }
  }

.row_top{
    display: flex;
    justify-content: space-between;
}

.nav_footer{
    display: flex;
    align-items: center;
}

.nav_list_footer{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.social{
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    a{
        width: 100px;
        height: 100px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.row_bottom{
    p{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $color_white;
    }
}

@media (max-width: 990px){
    .row_top {
        flex-direction: column;
    }

    .nav_list_footer {
        padding: 40px 0;
        flex-direction: column;
    }
    .social {
        display: flex;
        gap: 15px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .row_bottom {
        p {
        text-align: center;
    }}

}