// modal Verified //

.modal_wrap{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(27, 27, 27, 0.70);
}

.item_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    align-items: center;
    background: #FFF;
    width: 80%;
    max-width: 921px;
    // height: 442px;
    h4{
        text-align: center;
        padding: 0 5%;
    }
}





.button_wrap{
    display: flex;
    gap: 5%;
}

.content_modal{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pad{
    padding: 150px 50px;
    gap: 50px;

}

textarea{
    background: transparent;
    height: 140px;
    border: 1px solid #494949;
    outline: none;
    padding: 10px;
    &:focus-visible{
        border: 1px solid #F87F00;
        color: #F87F00;
        min-height: 34px;
    }
}

.two_input_wrap{
    display: flex;
    gap: 10px;
    .input_item{
        flex: 0 1 50%;
    }
    
}


// history modal

.content_modal{
    width: 100%;
}

.title_wrap{
    display: flex;
    p{
        font-size: 30px;
        text-align: center;
    }
    margin-bottom: 30px;
}

.info_wrap{
    display: flex;
    border-bottom: 1px solid rgb(78, 78, 78);
    p{
        font-size: 20px;
    }
}