@import './templateColor.scss';
@import './tamplateButtons.scss';
@import './tamplateInputs.scss';

.profile_wrap{
    margin-top: 138px;
    padding: 0 80px;
}

.project_wrap_header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 16%;
    p{
        min-width: 300px;
    }
}

.project_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 177px;
    height: 150px;
    img{
        width: 120px;
        height: 120px;
    }
    p{
       min-width: 253px;
    }
}

