.main_img-project_slide{
    flex: 0 1 80%;
    min-width: 540px;
    min-height: 400px;
    width: 540px;
    height: 400px;
    object-fit: cover;
}

.second_img_wrap{
    flex: 0 1 17%;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.second_img-project{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 270px;
    overflow: hidden;
}

.new_project_image_block {
    // padding: 5px;
    background: #33333350;
    cursor: pointer;

    img, video{
        width: 100%;
        height: auto;
        max-width: 74px;
        max-height: 45px;
        object-fit: cover;
        object-position: top; 
        
    }
}

.btn_wrap-slider{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg{
        height: 80%;
        width: 50%;
     }
}

.btn_up{
 background: #E0D3D3;
 svg{
    color: #F87F00;
 }
}
.btn_down{
    background: #F87F00 ;
    svg{
       color: #E0D3D3;
    }
}

@media (max-width: 735px){
    .project_description_wrap {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        // max-height: 433px;
        /* overflow: hidden; */
        flex-direction: column;
        max-height: none;
    }
    .second_img_wrap {
        flex: 0 1 100%;
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    }
    .second_img-project {
        display: flex;
        flex-direction: row;
        gap: 10px;
        max-height: 270px;
        overflow: hidden;
    }
    .main_img-project_slide {
        flex: 0 1 100%;
        min-width: 540px;
        min-height: 400px;
        /* width: 540px; */
        max-height: 400px;
        object-fit: cover;
        width: 100%;
    }

    .btn-adaptive{
        rotate: -90deg;
    }

    .timer_wraper {
        max-width: none;
    }
}

@media (max-width: 660px){
    .timer_wraper{
        .item_number{
            font-size: 40px;
        }
    }

    .project_name_wrap {
        flex-direction: column;
    }
    .coment_item {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 360px){
    .timer_wraper{
        .item_number{
            font-size: 30px;
        }
        .item_text{
            font-size: 12px;
        }
    }
}