$color_prime: #F37042;
$color_prime_hover: #D7653D;
$color_prime_active: #FF5A20;
$color_button_hover: #E37C7C;
$color_button_active: #FF6666;
$color_second: #494949;
$color_white: #fff;
$color_black: #494949;
$color_accept: #1CA86D;
$color_dismiss: #FF1919;
$color_error: #F52222;

